@font-face {
    font-family: MyriadPro;
    src: url(/static/fonts/MyriadPro-Bold.otf);
}

.col-xs-7 li {
    font-family: "MyriadPro";
    letter-spacing: 10px;
}

.smenu li {
    letter-spacing: 2px;
}

footer {
    font-size: 13px!important;
}

.alogo {
    display: none;
}

.lmenu {
    display: none;
}

.lmenu li {
    font-size: 10px;
}

.btn-proveedores {
    font-size: 10px;
}

nav.navbar {
    margin-left: 20px;
    margin-top: 20px;
}

nav.navbar li a {
    font-family: "MyriadPro";
    font-size: 20px;
    color: #fff!important;
    background-color: black!important;
    background: black!important;
}

nav.navbar li.active a {
    font-family: "MyriadPro";
    font-size: 20px;
    color: #fff!important;
    background-color: #00c1ff!important;
    background: #00c1ff!important;
}

nav.navbar li:hover a {
    font-family: "MyriadPro";
    font-size: 20px;
    color: #fff!important;
    background-color: #00c1ff!important;
    background: #00c1ff!important;
}

nav.navbar li.seguridad a {
    font-family: "MyriadPro";
    font-size: 20px;
    color: #fff!important;
    background-color: #00d400!important;
    background: #00d400!important;
}

.navbar-brand {
    padding: 0;
    float: none;
}

.navbar-toggle:hover {
    background-color: #00c1ff!important;
    color: white!important;
}

.navbar-toggle:focus {
    background-color: #00c1ff!important;
    color: white!important;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: white!important;
}

.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white!important;
}

.logob {
    width: 20%;
    height: auto;
    min-width: 150px;
    padding: 0px!important;
}

.vdeodesk {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: auto;
}

.vdeomob {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: auto;
    top: 20%;
}

@media (min-width: 768px) {
    .lmenu {
        display: block;
    }
    nav.navbar {
        display: none;
    }
    .logo {
        width: 20%;
        height: auto;
        min-width: 150px;
        padding: 0px!important;
        margin-left: 40px;
        margin-top: 40px;
    }
    .alogo {
        display: block;
    }
}

@media (min-width: 992px) {
    .lmenu li {
        font-size: 15px;
    }
    .btn-proveedores {
        font-size: 15px;
    }
    .vdeodesk {}
}

@media (min-width: 1200px) {
    .lmenu li {
        font-size: 20px;
    }
    .btn-proveedores {
        font-size: 20px;
    }
}

@media (min-width: 1490px) {}

.seguridad {
    border-bottom: 1px solid white;
}